.lista {
    width: 100%;
    border-spacing: 0;
}

.lista tr:nth-child(1) {
    vertical-align: top;
    background-color: black;
    color: white;
    font-weight: bold;
} 

.lista tr td {
    padding: 5px;
}

.lista td {
    width: 100%;
}